/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #525252;
    color: #333;
}

header {
    background-color: #000000 ; 
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a20ee7; /* Cor do hover */
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #6e6969;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contato a {
    text-decoration: none;
}

.contato button {
    background-color: #a20ee7; /* Cor de fundo dos botões */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contato button:hover {
    background-color: #e55347; /* Cor do hover dos botões */
    transform: scale(1.05); /* Efeito de ampliação */
}

footer {
    background-color: #000000 ; 
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 0.875rem;
}
